<div data-controller="hello">
  <input data-hello-target="name" type="text" placeholder="Enter your name here">

  <button data-action="click->hello#greet">Greet</button>

  <p>The javascript output will appear below:</p>

  <span data-hello-target="output"></span>
</div>
